/* Settings App */

#settings {
    background: #000 url(../../assets/background.png) no-repeat 50% 0%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.network {
	text-align: left;
}

.password {
	padding: 20px;
}


