/*
	@file: apps/colorwheel/colorwheel.css
*/

#colorwheel {
	background: #000;
}

#colorwheel .selector {
	line-height: 0;
	width: 100%;
}

#colorwheel .circle {
	width: 150px;
	height: 150px;
	background: #fff; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	float: left;
}

#colorwheel .circle.pick {
	margin-top: -30px;
	width: 90px;
	height: 90px;
	background: magenta; 
}

#colorwheel .circle.complement { 
	margin-top: 0px;
	width: 70px;
	height: 70px;
	background: yellow;
}

#colorwheel .circle.hover { 
	margin: 14px 0 0 3px;
	width: 50px;
	height: 50px;
	background: cyan;
}

#colorwheel .radar {
	clear: left;
}

#colorwheel .radar p {
	padding: 10px 0 0 0;
	color: #ccc;
}