/*
	@file: apps/settings/about/about.css
*/

#about {
	background: #000;
}

#abouttext {
	font-family: 'Droid Sans', 'droid_sansregular', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	text-shadow: none;
}