/* Timer App */

#timer {
	background: #000 url(timer-background.png) no-repeat 50% 0% fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

#timer .times {
	margin: 0 auto;
	width: 175px;
}

#timer .timerset {
	margin-left: 37px;
	position: absolute;
	bottom: 20px;
}

#timer label.ui-input-text {
	color: #fff;
	font-size: 12px;
	text-shadow: none;
}

#timer input.ui-input-text, 
#timer textarea.ui-input-text {
	color: #fff;
	font-size: 12px;
	text-shadow: none;
}