/*
	@file: apps/settings/timer/timer.css
*/

#timer {
	background: #000 url(timer-background.png) no-repeat 50% 0% fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

#timer .times {
	margin: 200px auto 0;
	width: 50%;
}

#timer .times form label {
	color: #fff;
}

#timer #timerset {
	margin-top: 35px;
}