/* 
	MooresCloud 
	@file: holiday-app.css
	@see: jquery.mobile.x-x-x.css
	
*/

/* Webfonts */

@font-face {
	font-family: 'droid_sansregular';
	src: url('/assets/webfonts/DroidSans-webfont.eot');
	src: url('/assets/webfonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSans-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSans-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_sansbold';
	src: url('/assets/webfonts/DroidSans-Bold-webfont.eot');
	src: url('/assets/webfonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSans-Bold-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSans-Bold-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_serifregular';
	src: url('/assets/webfonts/DroidSerif-webfont.eot');
	src: url('/assets/webfonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSerif-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSerif-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSerif-webfont.svg#droid_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_serifbold';
	src: url('/assets/webfonts/DroidSerif-Bold-webfont.eot');
	src: url('/assets/webfonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSerif-Bold-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_serifitalic';
	src: url('/assets/webfonts/DroidSerif-Italic-webfont.eot');
	src: url('/assets/webfonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSerif-Italic-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSerif-Italic-webfont.svg#droid_serifitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_serifbold_italic';
	src: url('/assets/webfonts/DroidSerif-BoldItalic-webfont.eot');
	src: url('/assets/webfonts/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSerif-BoldItalic-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSerif-BoldItalic-webfont.svg#droid_serifbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_sans_monoregular';
	src: url('/assets/webfonts/DroidSansMono-webfont.eot');
	src: url('/assets/webfonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSansMono-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSansMono-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Droid Sans', 'droid_sansregular', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
	text-shadow: none;
}

h3 {
	font-size: 12px;
}

p {
	font-family: 'Droid Sans', 'droid_sansregular', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	text-shadow: none;
}

img {
	width: 100%;
}

/* jQueryMobile */

html {
	background: #000;
}

.ui-body-c, 
.ui-overlay-c {
	background: #000;
}

@media only screen and (min-width: 768px){
	.ui-page {
	  width: 768px !important;
	  margin: 0 auto !important;
	  position: relative !important;
	}
}

/* Title Bar */

.ui-bar-a {
	border: 1px solid #000;
	background: #000;
	background: rgba(0, 0, 0, .8);
	background-image: none;
}

/* Apps */

.ui-body-c,
#apps {
	background: #000 url(../assets/background.png) no-repeat 50% 0%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Settings App 
		- Needs moving to settings.css
		- But Settings index.html doesn’t initiate JS and appendation
		- TODO: Mark & Paul to Discuss…
*/

#settings {
	background: #555 url(../assets/background-linen.png) repeat 50% 0%;
	-webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

.network {
	text-align: left;
}

.password {
	padding: 20px;
}

