/* 
	MooresCloud 
	@file: holiday-app.css
	
*/

/* Webfonts */

@font-face {
	font-family: 'droid_sansregular';
	src: url('/assets/webfonts/DroidSans-webfont.eot');
	src: url('/assets/webfonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSans-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSans-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_sansbold';
	src: url('/assets/webfonts/DroidSans-Bold-webfont.eot');
	src: url('/assets/webfonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSans-Bold-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSans-Bold-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_serifregular';
	src: url('/assets/webfonts/DroidSerif-webfont.eot');
	src: url('/assets/webfonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSerif-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSerif-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSerif-webfont.svg#droid_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_serifbold';
	src: url('/assets/webfonts/DroidSerif-Bold-webfont.eot');
	src: url('/assets/webfonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSerif-Bold-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_serifitalic';
	src: url('/assets/webfonts/DroidSerif-Italic-webfont.eot');
	src: url('/assets/webfonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSerif-Italic-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSerif-Italic-webfont.svg#droid_serifitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_serifbold_italic';
	src: url('/assets/webfonts/DroidSerif-BoldItalic-webfont.eot');
	src: url('/assets/webfonts/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSerif-BoldItalic-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSerif-BoldItalic-webfont.svg#droid_serifbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_sans_monoregular';
	src: url('/assets/webfonts/DroidSansMono-webfont.eot');
	src: url('/assets/webfonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/webfonts/DroidSansMono-webfont.woff') format('woff'),
	     url('/assets/webfonts/DroidSansMono-webfont.ttf') format('truetype'),
	     url('/assets/webfonts/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Droid Sans', 'droid_sansregular', Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
	text-shadow: none;
}

h3 {
	font-size: 12px;
}

p {
	font-family: 'Droid Sans', 'droid_sansregular', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	text-shadow: none;
}

img {
	width: 100%;
}

/* jQueryMobile */

.ui-content {
/* 	padding: 0 20px; */
}

/* Title Bar */

.ui-bar-a {
	border: 1px solid #000;
	background: #000;
	background: rgba(0, 0, 0, .8);
	background-image: none;
}

/* Apps */

.ui-body-c,
#apps {
	background: #000 url(../assets/background.png) no-repeat 50% 0%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Config */

#config {
	background: #555 url(../assets/background-linen.png) repeat 50% 0%;
	-webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

/* Config Panel */
.ui-panel-inner {
	padding: 0 15px;
}

/* Config Forms */

div.ui-input-text,
input.ui-input-text.ui-slider-input {
	background: #000;
	background: rgba(0, 0, 0, .3);
}

label.ui-input-text {
	color: #fff;
	font-size: 12px;
	text-shadow: none;
}

input.ui-input-text, 
textarea.ui-input-text {
	color: #fff;
	font-size: 12px;
	text-shadow: none;
}

hr {
	border-color: #000;
	border-color: rgba(0, 0, 0, .3);
}

/* Settings App */

#settings {
	background: #555 url(../assets/background-linen.png) repeat 50% 0%;
	-webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

.network {
	text-align: left;
}

.password {
	padding: 20px;
}

