
/* MooresCloud 
	 -----------
*/

@font-face {
	font-family: 'Droid Sans';
	src: url("/assets/fonts/Droid_Sans/DroidSans.ttf");
}

@font-face {
	font-family: 'Droid Sans Bold';
	src: url("/assets/fonts/Droid_Sans/DroidSans-Bold.ttf");
}

@font-face {
	font-family: 'Droid Sans Mono';
	src: url("/assets/fonts/Droid_Sans_Mono/DroidSansMono.ttf");
}

@font-face {
	font-family: 'Droid Serif';
	src: url("/assets/fonts/Droid_Serif/DroidSerif.ttf");
}

@font-face {
	font-family: 'Droid Serif Italic';
	src: url("/assets/fonts/Droid_Serif/DroidSerif-Italic.ttf");
}

@font-face {
	font-family: 'Droid Serif Bold';
	src: url("/assets/fonts/Droid_Sans/DroidSerif-Bold.ttf");
}

@font-face {
	font-family: 'Droid Serif Bold Italic';
	src: url("/assets/fonts/Droid_Sans/DroidSerif-BoldItalic.ttf");
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	color: #fff;
	text-shadow: none;
}

h3 {
	font-size: 12px;
}

p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	color: #fff;
	text-shadow: none;
}

img {
	width: 100%;
}

/* jQueryMobile
	 ------------
*/

.ui-content {
/* 	padding: 0 20px; */
}

/* Title Bar */

.ui-bar-a {
	border: 1px solid #000;
	background: #000;
	background: rgba(0, 0, 0, .8);
	background-image: none;
}

/* Apps */

.ui-body-c,
#apps {
	background: #000 url(../assets/background.png) no-repeat 50% 0%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Config */

#config {
	background: #555 url(../assets/background-linen.png) repeat 50% 0%;
	-webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

/* Config Panel */
.ui-panel-inner {
	padding: 0 15px;
}

/* Config Forms */

div.ui-input-text,
input.ui-input-text.ui-slider-input {
	background: #000;
	background: rgba(0, 0, 0, .3);
}

label.ui-input-text {
	color: #fff;
	font-size: 12px;
	text-shadow: none;
}

input.ui-input-text, 
textarea.ui-input-text {
	color: #fff;
	font-size: 12px;
	text-shadow: none;
}

hr {
	border-color: #000;
	border-color: rgba(0, 0, 0, .3);
}

/* NRL App */

#nrl {
	background: #000 url(../apps/nrl/nrl-background.png) repeat-y 50% 0% fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* AFL App */

#afl {
	background: #000 url(../apps/afl/afl-background.png) repeat-y 50% 0% fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* App Lists */

.ui-content .ui-listview, 
.ui-panel-inner > .ui-listview {
	margin: -15px;
	margin-top: 0;
}

.ui-li-desc {
	display: block;
	margin: .5em 0 -.6em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.ui-btn-up-a {
	border: 1px solid #111;
	background: #333;
	background: rgba(0, 0, 0, .8); /* No Images */
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 #111;
}

.ui-btn-hover-a {
	border: 1px solid #000;
	background: #444;
	background: rgba(0, 0, 0, .7); /* No Images */
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 #111;
}

.ui-li, .ui-li.ui-field-contain {
	display: block;
	margin: 0;
	position: relative;
	overflow: visible;
	text-align: left;
	border-width: 0;
	border-top-width: 1px solid #111;
}


/* Colorwheel App */

#colorwheel {
	background: #000;
}

#colorwheel .selector {
	margin: 0 auto;
	width: 290px;
}

/* Colorwheel Pick & Complement */

#colorwheel .circle {
	width: 100px;
	height: 100px;
	background: #fff; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	float: left;
}

#colorwheel .circle.pick {
	margin-top: -15px;
	width: 100px;
	height: 100px;
	background: crimson; 
}

#colorwheel .circle.complement { 
	margin-top: 30px;
	width: 70px;
	height: 70px;
	background: #3e19d0;
}

/* API Demo App */

#api-demo {
	background: #000;
}

#api-demo p {
	margin: 0 auto;
	width: 80%;
}

#api-demo .switch {
	margin: 0 auto;
	width: 100px;
}

#api-demo .ui-btn-active {
/* 	border: 1px solid #2374a6; */
/* 	background: #5393c5; */
	background: crimson;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 1px 0 #3373a5;
	text-decoration: none;
/*
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5393c5 ), to( #6facd5 ));
	background-image: -webkit-linear-gradient( #5393c5, #6facd5 );
	background-image: -moz-linear-gradient( #5393c5, #6facd5 );
	background-image: -ms-linear-gradient( #5393c5, #6facd5 );
	background-image: -o-linear-gradient( #5393c5, #6facd5 );
	background-image: linear-gradient( #5393c5, #6facd5 );
*/
	background-image: none;
}

/* Rainbow App */

#rainbow {
	background: #000;
}

#rainbow .switch {
	margin: 0 auto;
	width: 100px;
}

#rainbow .ui-btn-active {
/* 	border: 1px solid #2374a6; */
/* 	background: #5393c5; */
	background: blue;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 1px 0 #3373a5;
	text-decoration: none;
/*
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5393c5 ), to( #6facd5 ));
	background-image: -webkit-linear-gradient( #5393c5, #6facd5 );
	background-image: -moz-linear-gradient( #5393c5, #6facd5 );
	background-image: -ms-linear-gradient( #5393c5, #6facd5 );
	background-image: -o-linear-gradient( #5393c5, #6facd5 );
	background-image: linear-gradient( #5393c5, #6facd5 );
*/
	background-image: none;
}

/* Timer App */

#timer {
	background: #000 url(../apps/timer/timer-background.png) no-repeat 50% 0% fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

#timer .times {
	margin: 0 auto;
	width: 175px;
}

#timer .timerset {
	margin-left: 37px;
	position: absolute;
	bottom: 20px;
}
