/*
	@file: apps/photograb/photograb.css
*/

/*#photograb form {
	margin: 10px 0 0 0;
}*/

#photograb .photograb-button { 
	width: 100%;
	border: 1px solid #fff; 
	background: #bbb; 
	color: white; 
	padding: 10px; 
	cursor: pointer; 
	-webkit-border-radius: 4px; 
}

#photograb .selector {
    margin: 0 auto;
    width: 290px;
}